<div class="players pull-right">
  <p><%= game.player1.username %> <span class="player-icon">&times;</span></p>
  <p><%= game.player2.username %> <span class="player-icon">&#x25CF;</span></p>
</div>
<%= render_game(game) %>